%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{relx, [{release, {xtea, "0.1.0"},
         [xtea]},
        {dev_mode, false},
        {include_erts, false},
        {include_src, true},
        {extended_start_script, false}]}.
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.
